body {
  background-color:#e5e8e8;
  color: black;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: .5fr 3fr;
  grid-gap: 0rem;
  grid-template-areas:
      "navbar" 
      "content" ;
}
h2,h3{ 
  text-align: center;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  grid-area: navItems;
  justify-content: space-evenly;
  margin-right: 20px;
}

li{
  margin: auto 20px;
}
.site-identity{
  display: flex;
  flex-direction: row;
}
.tagline{
  grid-area: tagLine;
  display: flex;
  flex-direction: column;
  line-height: .5px;
  width: 250px;
  justify-content: center;
}
.image-container{
  display: flex;
  align-items: center;
}
.profile-pic{
  width: auto;
  height: 200px;
  border-radius: 50%;
  grid-area: proPic;
}

.landscape{
  height: 500px;
  width: 100%;
  object-fit: cover;
}

.introText{
  position: absolute;
  left: 25px;
  font-size: 60px;
  color:white;  
}

.skillz {
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  
}
.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skillz-img{
  height: 80px;
  width: auto;
}

.featured-project{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: silver;
  padding-bottom: 40px;

}

#project-header{
  display: flex;
  align-content: center;
}

#project-body {
  display: flex;
  justify-content: space-evenly;
}
#project-description{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 50px;
}

#projectButton{
  position: absolute;
  transform: translate(-50%,-50%);
  margin-right: -50%;
  top: 25%;
  left: 50%;
  font-size: 1.5rem;
}

#navigation{
  background-color:#e5e8e8;
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  grid-template-rows: 1fr;
  grid-gap: 0rem;
  grid-template-areas:
      "proPic tagLine navItems" ;
  grid-area: navbar;
}

#content {
  grid-area: content;
  position: relative;
}

#about-content{
  grid-area: content;
  position: relative;
  color: black;
}

#project-photo{
  height: 500px;
  width:auto;
  margin-top: 25px;
}

/*footer*/
.footer-distributed{
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 80px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
